.checkout {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: auto;
}

.form-section {
  width: 330px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 6px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 35px;
  border: 1.5px solid #121212;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
}

.row {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 12px;
}

.option {
  font-size: 0.8em;
}

.option,
.payment {
  height: 34px;
  border: 1.5px solid #121212;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 14px;
}

.option input,
.payment input {
  width: 16px;
  height: 16px;
  accent-color: #ffaf4e;
}

.option span {
  flex: 1;
}

.option small {
  width: 70px;
}

.option p {
  font-weight: 400;
}

.summary {
  width: 320px;
  background: #eef4f6;
  padding: 35px 25px;
  margin: 60px auto;
  align-self: flex-start;
}

.summary h3 {
  margin-bottom: 20px;
}

.product,
.line {
  display: flex;
  justify-content: space-between;
}

.product {
    border-bottom: #121212 solid 1px;
    margin-bottom: 20px;
}

.product p {
  margin: 3px 0;
}

.line {
  margin-bottom: 12px;
}

.total {
  font-weight: 900;
}