@font-face {
    font-family: "DIN Condensed";
    src: url(fonts/DINCondensed-Bold.ttf) format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #121212;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header and navigation styles */
.top-bar {
    width: 100%;
    background-color: #ffaf4e;
    font-family: "DIN Condensed", Arial, sans-serif;
    color: #0a3641;
}

.top-bar__content {
    display: flex;
    justify-content: space-evenly;
    gap: 10em;
    padding: .5em;
    margin: 0;
}

.top-bar__words::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../assets/check.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.current {
    font-weight: bold;
}

.logo {
    max-width: 200px;
}

/* Home page header and menu styles */
.home__menu li {
    display: inline-block;
    font-size: 1em;
    color: #0a3641;
}

.home__menu a {
    padding: 20px;
    display: inline-block;
}

.home__menu a:hover {
    color: #0a3641;
    font-weight: bold;
}

.home__header {
    background-image: url(../images/RainyDays_Home1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    background-position: center;
}

h1, h2, h3 {
    font-family: "DIN Condensed", Arial, sans-serif;
}

/* Call to action button styles */
.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffaf4e;
    color: #0a3641;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.cta:hover {
    background-color: #0a3641;
    color: #fff;
}

/* Carousel styles */
.carousel {
    background-color: #eef4f6;
}

.carousel h1 {
    text-align: center;
    padding-top: 20px;
}

.carousel p {
    text-align: center;
}

.carousel__images {
    background-color: #fff;
    width: auto;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
}

/* Home page */
.inspiration-grid {
    background-color: #eef4f6;
}

/* Footer styles */
footer {
    background-color: #0a3641;
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a:hover {
    text-decoration: underline;
}