@font-face {
    font-family: "DIN Condensed";
    src: url("../fonts/DIN Condensed Bold.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #121212;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: "DIN Condensed", Arial, sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 0.9em;
}

header {
    width: 100%;
}

.current {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #121212;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.cta {
    background-color: #ffaf4e;
    color: #0a3641;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.cta-big {
    padding: 15px 30px;
    font-size: 1.2em;
    margin-top: 20px;
}

.cta:hover {
    background-color: #0a3641;
    color: #fff;
}

img{
    max-width: 100%;
}

/* Top bar */
.top-bar {
    background-color:#ffaf4e;
    height:50px;
    padding-top: 5px;

    display:flex;
    justify-content:space-around;
    align-items:center;

    font-family: "DIN Condensed", Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

.top-item {
    display:flex;
    align-items: baseline;
    font-size:1em;
    gap: 8px;
}

.top-item i {
    font-size:20px;
}

/* Navigation */
.nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    top: 50px;
    left: 0;

    width: 250px;

    border-radius: 5px;

    background-color: #fff;
}

.nav-links a:hover {
    font-weight: bold;
}

header ul {
    display: none;
}

.search-box {
    background: white;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 40px;
}

.search-input {
    display: none;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    background: white;
    font-size: 0.8em;
}

#search-toggle {
    display: none;
}

#search-toggle:checked + .searchbar + .search-input {
    display: flex;
}

.hamburger {
    display: block;
    font-size: 30px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
}

/* Header and Navigation on Home Page */
.header-home {
    background-image: url(../images/RainyDays_Home1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    background-position: center;
}

.navbar-home {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.navbar-home ul {
    display: flex;
    gap: 30px;
}

.navbar-home-right {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.navbar-home-left {
    position: relative;
    width: 100%;
}

.logo-section {
    max-width: 300px;
    margin: 80px auto 80px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 300px;
}

/* Home Page Content */
.carousel {
    background-color: #eef4f6;
    text-align: center;
    padding: 50px 50px;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-content {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.carousel__images {
    width: calc((100% - 20px) / 2);
    border-radius: 10px;
    object-fit: cover;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
}

.left {
    left: -20px;
}

.right {
    right: -20px;
}



/* Responsive Design */

@media(min-width: 600px) {
    .carousel__images {
        width: calc((100% - 60px) / 4);
    }
}

@media(min-width: 950px){
    
    .searchbar{
        pointer-events: none;
    }
    .search-input{
        display: block;
    }
    
    .top-item {
        font-size: 1.2em;
    }

    .navbar-home {
        height: 120px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .navbar-home-left {
        width: auto;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex !important;
        position: static;
        flex-direction: row;
        gap: 70px;
        width: auto;
        padding: 0;
        background: none;
    }

    .navbar-home-right {
        width: auto;
    }

    #search-toggle {
        display: none;
    }

}
